<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @point.position %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @point.heading %>
</p>

<p>
  <strong>Name:</strong>
  <%= @point.name %>
</p>

<p>
  <strong>Notable name:</strong>
  <%= @point.notable_name %>
</p>

<p>
  <strong>Notable:</strong>
  <%= @point.notable %>
</p>

<p>
  <strong>Waypoint:</strong>
  <%= @point.waypoint %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
