<p id="notice"><%= notice %></p>

<h1>Line Groups</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @line_groups.each do |line_group| %>
      <tr>
        <td><%= line_group.name %></td>
        <td><%= line_group.city %></td>
        <td><%= link_to 'Show', line_group %></td>
        <td><%= link_to 'Edit', edit_line_group_path(line_group) %></td>
        <td><%= link_to 'Destroy', line_group, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line Group', new_line_group_path %>
