<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @line_group.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @line_group.city %>
</p>

<%= link_to 'Edit', edit_line_group_path(@line_group) %> |
<%= link_to 'Back', line_groups_path %>
