<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @route_point.route_id %>
</p>

<p>
  <strong>Point:</strong>
  <%= @route_point.point_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @route_point.order %>
</p>

<p>
  <strong>Polyline index:</strong>
  <%= @route_point.polyline_index %>
</p>

<%= link_to 'Edit', edit_route_point_path(@route_point) %> |
<%= link_to 'Back', route_points_path %>
