<!DOCTYPE html>
<html>
<head>
  <title>Achabus</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
</head>

<body>
<div class="container">
  <ul class="menu">
    <li><%= link_to 'Grupos de Linhas', line_groups_path %></li>
    <li><%= link_to 'Linhas', lines_path %></li>
    <li><%= link_to 'Rotas', routes_path %></li>
    <li><%= link_to 'Editor de Rotas', map_editor_path, target: '_blank' %></li>
    <li></li>
  </ul>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
